<div class="right_container">
  <md-tab-group>
    <md-tab [label]="l" *ngFor="let l of list">
      <md-list>
        <a [routerLink]="[
          '/dashboard/project/',
          (notify?.type === 'TASK') ? notify?.task_log?.task?.project?.id : notify?.comment?.task?.project?.id,
          (notify?.type === 'TASK') ? notify?.task_log?.task?.id :  notify?.comment?.task?.id
        ]"  *ngFor="let notify of notifies | notifyOrder:l ">
          <md-list-item>
            <md-icon md-list-avatar>
              {{ (notify.type === 'TASK') ? 'assignment' : 'comment' }}
            </md-icon>
            <h4 class="title" md-line>
              <div *ngIf="notify.type === 'COMMENT'">
                {{ notify?.comment?.user?.name }}
              </div>
              <div *ngIf="notify.type === 'TASK'">
                {{ notify?.task_log?.task?.project?.user?.name }}
              </div>
            </h4>
            <p md-line>
              {{ notify?.created_at }}
            </p>
          </md-list-item>
          <p class="description" *ngIf="notify.type === 'COMMENT'">
              TASK#{{ notify?.comment?.task?.id }} in {{ notify?.comment?.task?.project?.name }}
          </p>
          <p class="description" *ngIf="notify.type === 'TASK'">
            move task #<span class="bold">{{ notify?.task_log?.task?.name }}</span> to <span class="bold upper">{{ notify?.task_log?.task_type?.name }}</span>.
          </p>
        </a>
      </md-list>
    </md-tab>
  </md-tab-group>
</div>
