<div class="activity-graph">
  <!--<div class="header">

  </div>
  <div class="divider black"></div>-->
  <div class="body">
    <month-box [month]="m" *ngFor="let m of month"></month-box>
    <div style="clear: both"></div>
  </div>
  <div class="divider black"></div>
  <div class="footer">
    <div class="day-box"></div>
    <div class="day-box b25"></div>
    <div class="day-box b50"></div>
    <div class="day-box b75"></div>
    <div class="day-box b100"></div>
    <div class="text">...</div>
  </div>
</div>
