.day-box {
    width: 100%;
    padding-top: 100%;
    background-color: #F9F9F9;
    border-radius: 50%;
    &.b100 {
        background-color: rgba(#ec8127, 0.85);
    }
    &.b75 {
        background-color: rgba(#ec8127, 0.65);
    }
    &.b50 {
        background-color: rgba(#ec8127, 0.4);
    }
    &.b25 {
        background-color: rgba(#ec8127, 0.2);
    }
    &:hover {
        cursor: pointer;
        background-color: #333;
    }
}
