<div class="card-table-container">
  <md-card class="column todo" dnd-droppable (onDropSuccess)="dropTodo($event)">
    <div class="header">
      <div class="icon">
        <md-icon>assignment</md-icon>
      </div>
      To-Do
    </div>
    <md-list>
      <div class="list" *ngFor="let item of todo; let i = index"
        dnd-draggable
        (onDragSuccess)="onDragSuccess(i, todo)"
        [dragEnabled]="true"
        [dragData]="item">
        <md-list-item>
          <md-icon md-list-avatar>folder</md-icon>
          <h4 class="task-name" md-line (click)="openTask()">folder.name</h4>
          <p class="task-start" md-line>folder.name</p>
        </md-list-item>
        <p class="task-description"> Component styles normally apply only to the HTML in the component's own template -- reference </p>
      </div>
    </md-list>
    <div class="button-create black">
      <button (click)="openDialog()">
        <md-icon>add</md-icon>
        <br>
        <span>Create new task</span>
      </button>
    </div> <!-- button-create -->
  </md-card>
  <md-card class="column doing" dnd-droppable (onDropSuccess)="dropDoing($event)">
    <div class="header">
      <div class="icon">
        <md-icon>assignment_returned</md-icon>
      </div>
      Doing
    </div>
    <md-list>
      <div class="list" *ngFor="let item of doing"
        dnd-draggable
        (onDragSuccess)="onDragSuccess(i, doing)"
        [dragEnabled]="true"
        [dragData]="item">
        <md-list-item>
          <md-icon md-list-avatar>folder</md-icon>
          <h4 class="task-name" md-line>folder.name</h4>
          <p class="task-start" md-line>folder.name</p>
        </md-list-item>
        <p class="task-description"> Component styles normally apply only to the HTML in the component's own template -- reference </p>
      </div>
    </md-list>
  </md-card>
  <md-card class="column done" dnd-droppable (onDropSuccess)="dropDone($event)">
    <div class="header">
      <div class="icon">
        <md-icon>assignment_turned_in</md-icon>
      </div>
      Done
    </div>
    <md-list>
      <div class="list" *ngFor="let item of done"
        dnd-draggable
        (onDragSuccess)="onDragSuccess(i, done)"
        [dragEnabled]="true"
        [dragData]="item">
        <md-list-item>
          <md-icon md-list-avatar>folder</md-icon>
          <h4 class="task-name" md-line>folder.name</h4>
          <p class="task-start" md-line>folder.name</p>
        </md-list-item>
        <p class="task-description"> Component styles normally apply only to the HTML in the component's own template -- reference </p>
      </div>
    </md-list>
  </md-card>
</div>
