md-card.cover {
    position: relative;
    padding: 0;
    min-height: 80px;
    background-image: url(https://www.buzzwoo.de/sites/default/files/bg_images/porsche-cayman-image.jpg);
    background-size: cover;
    .cover-box {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(#000, 0.75);
        .cover-title {
            text-align: center;
            .title {
                font-size: 24px;
                color: rgba(#FFF, 0.85);
            }
            .description {
                font-size: 14px;
                color: rgba(#FFF, 0.5);
            }
        }
    }
}

.project-detail .mat-tab-label {
    width: 33.33%;
    color: #FFF;
    md-icon {
        position: relative;
        top: 7px;
        color: rgba(#FFF, 0.5);
    }
}

md-card.list {
    position: relative;
    padding: 0;
    overflow: hidden;
    .action-group {
      position: relative;
      height: 72px;
      text-align: right;
        .action {
          cursor: pointer;
          height: 100%;
          min-width: 75px;
          color: rgba(#000, 0.35);
          text-align: center;
          border: none;
          border-left: 1px solid rgba(#000, 0.1);
          background-color: transparent;
          &.general {
            border: none;
            &.delete {
              color: rgba(#900, 0.5);
              margin-right: 10px;
              &:hover {
                color: rgba(#900, 0.85);
              }
            }
          }
          &:hover {
            color: rgba(#000, 0.75);
          }
        }
    }
    md-icon {
        opacity: 0.5;
        width: 24px;
        height: 24px;
    }
    .task-name {
        font-weight: bold;
        color: rgba(#FFF, 0.95);
        cursor: pointer;
        &:hover {
          color: #e56514;
        }
    }
    p.task-start {
        font-size: 12px;
        color: rgba(#FFF, 0.5);
    }
    &.ToDo {
        background-color: #2E7D32;
    }
    &.Doing {
        background-color: #689F38;
    }
    &.Done {
        background-color: #8BC34A;
    }
}
