<div class="project-detail">
  <div class="row">
    <div class="col-xs-12">
      <md-card class="cover">
        <div class="cover-box">
          <div class="cover-title">
            <div class="title">{{ project.name }}</div>
            <div class="description">{{ project.description }}</div>
          </div>
        </div>
      </md-card>
    </div>

    <div class="col-md-4">
      <md-card class="card-state card-green--1">
        <md-icon>assignment</md-icon>
        <div class="state">
          <span class="number">{{ state.ToDo || 0 }}</span>
          <span class="name">To-Do</span>
        </div>
      </md-card>
    </div>
    <div class="col-md-4">
      <md-card class="card-state card-green--2">
        <md-icon>assignment_returned</md-icon>
        <div class="state">
          <span class="number">{{ state.Doing || 0 }}</span>
          <span class="name">Doing</span>
        </div>
      </md-card>
    </div>
    <div class="col-md-4">
      <md-card class="card-state card-green--3">
        <md-icon>assignment_turned_in</md-icon>
        <div class="state">
          <span class="number">{{ state.Done || 0 }}</span>
          <span class="name">Done</span>
        </div>
      </md-card>
    </div>

    <div class="col-xs-12">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>
            <md-icon>view_list</md-icon> LIST
          </template>

          <md-list>
            <md-card class="list {{ task.type.name }}" *ngFor="let task of tasks | orderBy:'task_type_id'; let i = index">
              <md-list-item>
                <md-icon md-list-avatar>folder</md-icon>
                <h4 class="task-name" md-line (click)="openTask()">{{ task.name }}</h4>
                <p class="task-start" md-line>{{ task.start | amTimeAgo: 'day' }}</p>
              </md-list-item>
              <div class="action-group">
                <button class="action general edit" (click)="editTask(task)">
                  <md-icon>edit</md-icon><br>
                  EDIT
                </button>
                <button class="action general delete" (click)="deleteTask(task)">
                  <md-icon>delete</md-icon><br>
                  DELETE
                </button>
                <button class="action"
                  *ngIf="task.type.name === 'ToDo'"
                  (click)="changeToTaskType(task, 'Doing')">
                  <md-icon>assignment_returned</md-icon><br>
                  DOING
                </button>
                <button class="action"
                  *ngIf="task.type.name === 'Doing'"
                  (click)="changeToTaskType(task, 'Done')">
                  <md-icon>assignment_turned_in</md-icon><br>
                  DONE
                </button>
              </div>
            </md-card>
          </md-list>
          <div class="button-create">
            <button (click)="createTaskDialog()">
              <md-icon>add</md-icon>
              <br>
              <span>Create new task</span>
            </button>
          </div>
        </md-tab>
        <md-tab>
          <template md-tab-label>
            <md-icon>view_column</md-icon> CARD
          </template>
          <app-card-table [tasks]="tasks" [project]="project" (createTask)="createTaskDialog()" (dropChange)="changeTypeSuccess($event)"></app-card-table>
        </md-tab>
        <md-tab>
          <template md-tab-label>
            <md-icon>list</md-icon> Activities
          </template>
          <app-activities [taskLogs]="logs" [project]="project"></app-activities>
        </md-tab>
      </md-tab-group>
    </div>
    <!-- .col-xs-12 md-tab-group -->

  </div>
  <!-- .row -->
</div>
