<!-- <button type="button" name="button" (click)="leftOpen = !leftOpen">left</button>
      <button type="button" name="button" (click)="rightOpen = !rightOpen">right</button> -->
<br>
<div class="row">

  <div class="col-xs-12">
    <div class="me-container">
      {{ user?.name }} <span>({{ user?.role }})</span>
    </div>
  </div>

  <div class="statistic-container">
      <div class="col-md-4">
        <md-card class="card-state card-red--1">
          <md-icon>chrome_reader_mode</md-icon>
          <div class="state">
            <span class="number">{{ statistic?.total_projects || '0' }}</span>
            <span class="name">projects</span>
          </div>
        </md-card>
      </div>
      <div class="col-md-4">
        <md-card class="card-state card-red--2">
          <md-icon>assignment</md-icon>
          <div class="state">
            <span class="number">{{ statistic?.total_tasks || '0' }}</span>
            <span class="name">tasks</span>
          </div>
        </md-card>
      </div>
      <div class="col-md-4" *ngIf="user?.role === 'student'">
        <md-card class="card-state card-red--3">
          <md-icon>alarm</md-icon>
          <div class="state">
            <span class="number">{{ statistic?.total_days || '0' }}</span>
            <span class="name">days</span>
          </div>
        </md-card>
      </div>
      <div class="col-md-4" *ngIf="user?.role !== 'student'">
        <md-card class="card-state card-red--3">
          <md-icon>assignment_turned_in</md-icon>
          <div class="state">
            <span class="number">{{ logs.length || '0' }}</span>
            <span class="name">logs</span>
          </div>
        </md-card>
      </div>
  </div> <!-- .statistic-container -->

  <div class="activities-container col-md-12" *ngIf="isMe && user?.role !== 'student'">
    <app-activities [taskLogs]="logs"></app-activities>
  </div>

</div>
<!-- .row -->
<!-- <div class="divider white"></div> -->
<div class="row" *ngIf="user?.role === 'student'">
  <div class="col-sm-12">
    <md-card>
      <div class="col-sm-12 col-activity-graph">
        <activity-graph></activity-graph>
      </div>
      <!-- col-sm-9 -->
    </md-card>
  </div>
</div>
<!-- .row -->
<div class="divider white"></div>
<div class="row projects-card-container">
  <div class="col-sm-6 col-xs-12" *ngFor="let project of projects">
    <md-card class="card-skyBlue">
      <h3 class="header">
        <a [routerLink]="['/dashboard/project/', project.id]">
          {{ project.name }}
        </a>
        <div class="action-group" *ngIf="isMe">
          <button md-mini-fab (click)="editProjectDialog(project)"><md-icon>edit</md-icon></button>
          <button md-mini-fab color="warn" (click)="removeProject(project.id)"><md-icon>delete</md-icon></button>
        </div>
      </h3>
      <div class="divider white"></div>
      <p>
        {{ project.description }}
      </p>
      <div class="divider white"></div>
      <div class="project-statistics">
        <!--<pre>
          {{ project | json }}
        </pre>-->
        <div class="col-xs-4 statistic">
          <md-icon>assignment</md-icon>
          <div class="state">
            <span class="number">{{ countBy(project.tasks, 'ToDo') || 0 }}</span>
          </div>
        </div>
        <div class="col-xs-4 statistic">
          <md-icon>assignment_returned</md-icon>
          <div class="state">
            <span class="number">{{ countBy(project.tasks, 'Doing') || 0 }}</span>
          </div>
        </div>
        <div class="col-xs-4 statistic">
          <md-icon>assignment_turned_in</md-icon>
          <div class="state">
            <span class="number">{{ countBy(project.tasks, 'Done') || 0 }}</span>
          </div>
        </div>
      </div>
    </md-card>
  </div>
  <!-- .col card -->
  <div class="col-xs-12" *ngIf="isMe && me?.role === 'student'">
    <div class="button-create">
      <button (click)="openDialog()">
        <md-icon>add</md-icon>
        <br>
        <span>Create new project</span>
      </button>
    </div>
  </div>
</div>
<!-- .row -->
