.me-container {
  padding: 25px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgba(#FFF, 0.75);
  border-bottom: 1px solid rgba(#FFF, 0.15);
  span {
    font-weight: normal;
  color: rgba(#FFF, 0.35);
  }
}

.col-activity-graph {
    overflow-x: auto;
    min-width: 750px;
}

.projects-card-container {
  margin-bottom: 25px;
}


.project-statistics {
  .statistic {
    margin: 0 3px;
    padding: 10px 5px;
    width: calc(33.33% - 6px);
    text-align: center;
    background-color: rgba(#000, 0.15);
    .state {
      .number {
        color: rgba(#FFF, 0.5);
      }
    }
  }
}
