<div>
  <div class="my-container">
    <md-card class="my-card">
      <div class="my-box my-avatar" [style.background-image]="'url(./assets/images/avatar.jpg)'">
      </div>
      <div class="my-box">
        <h2>{{ me?.name }} <small>({{ me?.role }})</small> </h2>
        <div class="divider black"></div>
        <div>
          @Buzzwoo ASIA!
        </div>
      </div>
    </md-card>
  </div>

  <div class="divider white"></div>

  <div class="mentors-supervisors">
    <md-card class="search">
      <div class="col-md-12 counter-container">
        <div class="counter-content">
          <div class="counter" *ngIf="me?.role === 'student'">
            <span>{{ me?.mentors.length }}</span> Mentors
          </div>
          <div class="counter" *ngIf="me?.role === 'student'">
            <span>{{ me?.supervisors.length }}</span> Supervisors
          </div>
          <div class="counter" *ngIf="me?.role !== 'student'">
            <span>{{ me?.students.length }}</span> Students
          </div>
        </div>
      </div> <!-- .col-md-3 -->
      <div class="col-md-12 input-search-container">
        <md-input-container class="input-code" *ngIf="me?.role === 'student'">
          <input mdInput placeholder="# Mentor/Supervisor Code" [(ngModel)]="code">
        </md-input-container>
        <button md-fab class="input-button" *ngIf="me?.role === 'student'" (click)="addByCode(code)">
          <md-icon>add</md-icon>
        </button>
      </div>
    </md-card>

    <div class="ms-container">
      <div class="row users" *ngIf="me?.users.length > 0">
        <div class="col-md-4" *ngFor="let user of me.users">
          <app-user-card [user]="user" (onRemove)="me = $event"></app-user-card>
        </div>
      </div>
    </div> <!-- .ms-container -->
  </div> <!-- .mentors-supervisors -->

</div>
