@import '../../scss/color';
.my-container {
    .my-card {
        display: flex;
        justify-content: flex-start;
        >.my-box {
            flex-grow: 1;
        }
        >.my-avatar {
            flex-grow: 0;
            margin-right: 24px;
            width: 150px;
            height: 150px;
            border: 1px solid #EEE;
            border-radius: 50%;
            background-size: cover;
        }
        small {
            color: #999;
        }
    }
}

.mentors-supervisors {

    .counter-content {
        margin: 0 auto;
        width: 100%;
        max-width: 225px;
        display: flex;
        justify-content: flex-start;
        .counter {
            margin: 0 15px;
            font-size: 14px;
            color: #999;
            span {
                display: block;
                text-align: center;
                font-size: 36px;
                font-weight: bold;
                color: #333;
            }
        }
    }

    .input-search-container {
      margin-top: 15px;
    }

    .input-code {
      width: calc(100% - 65px);
    }

}
