@import '../../scss/color';

.my-container {
    .my-card {
        display: flex;
        justify-content: flex-start;
        >.my-box {
            flex-grow: 1;
        }
        >.my-avatar {
            flex-grow: 0;
            margin-right: 24px;
            width: 150px;
            height: 150px;
            border: 1px solid #EEE;
            border-radius: 50%;
            background-size: cover;
        }
        small {
            color: rgba(#FFF, 0.5);
        }
        .my-box h2 {
          color: #FFF;
          span.code {
            padding: 5px 10px;
            font-size: 16px;
            color: rgba(#000, 0.75);
            background-color: rgba(#FFF, 0.75);
            border-radius: 5px;
          }
        }
        .me-description {
          color: rgba(#FFF, 0.35);
        }
        background-color: #003851;
    }
}

.card-add-user {
  background-color: #FFFCFA;
  .text-center.group {
    padding: 14px 0;
    md-icon {
      width: 24px;
      height: 24px;
      font-size: 48px;
      color: rgba(#000, 0.75);
    }
  }
  md-card-title {
    font-weight: bold;
    font-size: 18px;
    color: rgba(#000, 0.65);
  }
  .input-button {
    margin: 25px 0 35px 0 ;
    width: 120px;
    height: 120px;
  }
  .input-button.mat-primary.mat-fab:not([ng-reflect-disabled]) {
    // color: rgba(#FFF, 0.85);
    background-color: #1592CC;
  }
  .input-code {
    width: 100%;
  }
}

.mentors-supervisors {

    .counter-content {
        margin: 0 auto;
        width: 100%;
        max-width: 225px;
        display: flex;
        justify-content: flex-start;
        .counter {
            margin: 0 15px;
            font-size: 14px;
            color: #999;
            span {
                display: block;
                text-align: center;
                font-size: 36px;
                font-weight: bold;
                color: #333;
            }
        }
    }

    .input-search-container {
      margin-top: 15px;
    }

}
