<div class="dashboard_container">
  <div class="dash-left" [class.open]="leftOpen">
    <app-left-menu [leftOpen]="leftOpen" (toggleLeft)="toggleLeft($event)"></app-left-menu>
  </div>
  <div class="dash-center" [ngClass]="{'left-open' : leftOpen, 'right-open' : rightOpen}">
    <div class="container">
      <!-- <button type="button" name="button" (click)="leftOpen = !leftOpen">left</button>
      <button type="button" name="button" (click)="rightOpen = !rightOpen">right</button> -->
      <br>
      <div class="row">
        <div class="col-md-4">
          <md-card class="card-state card-red--1">
            <md-icon>accessibility</md-icon>
            <div class="state">
              <span class="number">110</span>
              <span class="name">state</span>
            </div>
          </md-card>
        </div>
        <div class="col-md-4">
          <md-card class="card-state card-red--2">
            <md-icon>accessibility</md-icon>
            <div class="state">
              <span class="number">110</span>
              <span class="name">state</span>
            </div>
          </md-card>
        </div>
        <div class="col-md-4">
          <md-card class="card-state card-red--3">
            <md-icon>accessibility</md-icon>
            <div class="state">
              <span class="number">110</span>
              <span class="name">state</span>
            </div>
          </md-card>
        </div>
      </div>
      <!-- <div class="divider white"></div> -->
      <div class="row">
        <div class="col-sm-12">
          <md-card>
            <div class="col-sm-12 col-activity-graph">
              <activity-graph></activity-graph>
            </div> <!-- col-sm-9 -->
          </md-card>
        </div>
      </div>
    </div>
  </div>
  <div class="dash-right" [class.open]="rightOpen">
    <app-right-notification></app-right-notification>
  </div>
</div>
