body {
  background: url(./assets/images/background_2.jpg) no-repeat center center fixed;
}

a {
  text-decoration: none;
  cursor: pointer;
}

div.mat-tab-label {
  min-width: 0 !important;
}

[md-tab-nav-bar], .mat-tab-header {
  border: none;
}

md-list a[md-list-item] [md-line], md-list md-list-item [md-line], md-nav-list a[md-list-item] [md-line], md-nav-list md-list-item [md-line] {
  overflow-x: initial !important;
}
