.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
}

hr {
    border: 0;
    height: 0;
    &.white {
        border-top: 1px solid rgba(#fff, 0.35);
    }
    &.black {
        border-top: 1px solid rgba(#000, 0.1);
    }
}

.input-container {
    margin: 10px 0;
    width: 100%;
    .label {
        padding: 8px 0;
        margin-bottom: 8px;
        width: 100%;
        color: rgba(#000, 0.5);
        border-bottom: 1px solid rgba(#000, 0.15);
    }
}

.button-create {
    &.black {
      button {
        color: rgba(#000, 0.25);
        border: 2px dashed rgba(#000, 0.25);
        &:hover {
            color: rgba(#000, 0.5);
            // border-color: #FFF;
        }
      }
    }
    button {
        cursor: pointer;
        padding: 15px;
        width: 100%;
        color: rgba(#FFF, 0.5);
        border: 2px dashed rgba(#FFF, 0.5);
        background-color: transparent;
        md-icon {
            width: 48px;
            height: 48px;
        }
        .material-icons {
            font-size: 48px;
        }
        &:hover {
            color: #FFF;
            // border-color: #FFF;
        }
    }
}
